/*** dareon.css ***/

@font-face {
	font-family: "Museo 300";
	src: url("../fonts/Museo-300.otf")
		format("opentype");
}

@font-face {
	font-family: "Museo 500";
	src: url("../fonts/Museo-500.otf")
		format("opentype");
}

@font-face {
	font-family: "Museo 700";
	src: url("../fonts/Museo-700.otf")
		format("opentype");
}

/*****
   Colour Palette
   --------------
   Base:   #226622   - dareon green
   Dark:   #63214B   - purple
   Light:  #C39871   - brown
******/

body, #header_wrap, #footer_wrap {
	background: #226622;
}

a {
	color: #63214B;
	padding: 6px;
	font-weight: bold;
	border-radius: 3px;
	text-decoration: none;
}

a:hover, a:focus {
	color: white;
	background: #C39871;
	text-decoration: none;
}

footer span {
	color: white;
}

footer a {
	color: #C39871;
	text-decoration: none;
}

#forkme_banner {
	background: url("../images/blacktocat.png") black no-repeat 95% 50%;
}

#project_title h1 {
	color: white;
	font-size: 42px;
	font-family: "Museo 500";
}

h3#project_tagline {
	font-size: 22px;
	margin-bottom: 24px;
	display: block-inline;
}

#project_logo {
	height: 48px;
	width: 48px;
	border: 0;
	margin: 0;
	float: left;
	margin: 10px 0px;
	padding-right: 12px;
	-webkit-box-shadow: none;
}

#header_wrap .inner {
	padding-bottom: 0;
}

#site_page_bar {
	color: white;
	font-size: 18px;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.site_page {
	color: white;
	width: 1em;
	background: #226622; 
	border-top : white solid 1px;
	border-right: white solid 1px;
	border-left: 0px;
	border-bottom: 0px;
	border-radius: 6px;
	padding: 6px 18px;
	box-shadow: 3px 3px grey;
	margin: 0;
	border-top: white solid 1px;
}

.site_page:first-of-type {
	border-left: white solid 1px;
}

.site_page:hover, .site_page:focus {
	color: black;
}

#main_content { min-height: 36em; }

h1 { font-family: "Museo 700"; }

h2 { font-family: "Museo 500"; }

#header_wrap .inner {
	padding-top: 10px;
}


@media all and (max-width: 475px ) {
    h1.deskContent { display: none; }
	h3.deskContent { display: none; }
    h1.phoneContent { display: block-inline; }
    #published { float: left; }
}

@media all and (min-width: 476px ) {
    h1.deskContent { display: block-inline; }
    h3.deskContent { display: block-inline; }
    h1.phoneContent { display: none; }
    #published { float: right; }
}

/*** end of file dareon.css ***/