
@font-face {
	font-family: "Museo 300";
	src: url("../fonts/Museo-300.otf")
		format("opentype");
}

@font-face {
	font-family: "Museo 500";
	src: url("../fonts/Museo-500.otf")
		format("opentype");
}

@font-face {
	font-family: "Museo 700";
	src: url("../fonts/Museo-700.otf")
		format("opentype");
}

/*****
   Colour Palette
   --------------
   Base:   #226622   - dareon green
   Dark:   #63214B   - purple
   Light:  #C39871   - brown
******/
body, #header_wrap, #footer_wrap {
	background-image: linear-gradient(to right, black, #226622 25%);
}

a {
	color: #63214B;
	text-decoration: none;
	padding: 6px;
	border-radius: 3px;
	font-weight: bold;
}

a:hover, a:focus {
	background: #C39871;
	color: white;
	text-decoration: none;
}

footer a {
	color: #63214B;
	text-decoration: none;
}

#forkme_banner {
	background: url("../images/blacktocat.png") black
		no-repeat 95% 50%;
}

#project_title {
	font-size: 64px;
}

#project_tagline {
	font-size: 36px;
}

#project_logo {
	height: 1em;
	width: 1em;
	border: none;
	-webkit-box-shadow: none;
	float: left;
	padding-right: 0.5em;
}

#header_wrap .inner {
	padding-bottom: 0;
}

#site_page_bar {
	color: white;
	font-size: 18px;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.site_page {
	color: white;
	width: 1em;
	background: #226622; border-top : white solid 1px;
	border-right: white solid 1px;
	border-left: 0px;
	border-bottom: 0px;
	border-radius: 6px;
	padding: 6px 18px;
	box-shadow: 3px 3px grey;
	margin: 0;
	border-top: white solid 1px;
}

.site_page:first-of-type {
	border-left: white solid 1px;
}

.site_page:hover, .site_page:focus {
	color: black;
}

#main_content {
	min-height: 36em;
}

h1 {
	font-family: "Museo 700";
}

h2 {
	font-family: "Museo 500";
}

/*** end of file dareon.css ***/